@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;600&display=swap");
@media (prefers-color-scheme: dark) {
body {
	color: #eee;
background-color: rgb(2,0,36) !important;
background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(7,7,98,1) 35%, rgba(0,121,145,1) 100%) !important;
}

.section {
	background-color: #333333 !important;
	box-shadow: -12px 12px rgba(63,63,63,0.5) !important;
}

.cv-box { color: #ddd !important; }

.button {
	border: 2px solid #ddd !important;
	color: #eee !important;
}

.button:hover {
	border: 2px solid #eee !important;
}
}
body {
  font-family: "Roboto Slab", serif;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

p {
  font-family: "Lato";
  line-height: 120%;
}

.section {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
  margin-bottom: 34px;
  background-color: #fff;
  padding: 30px;
  box-shadow: -12px 12px rgba(255, 255, 255, 0.8);
  max-width: 90%;
  box-sizing: border-box;
  max-width: 640px;
  position: relative;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

.profile {
  height: 64px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 50%;
}

h3 {
  font-size: 28px;
  margin: 20px 0 20px 20px;
  font-weight: 700;
}

.buttons {
  flex-wrap: wrap;
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 12px;
  font-family: "Lato";
  display: -webkit-box;
  display: flex;
  margin: 10px 5px 0px 5px;
  color: #777777;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.button:hover {
  color: #777777;
  border: 2px solid #777777;
}
.button > i {
  margin-right: 10px;
  font-size: 18px;
}

a {
  text-decoration: underline;
  color: inherit;
}
a.button {
  text-decoration: none;
}

.cv-box {
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  color: #777777;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #eee;
}
